.ToDoList {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.todo-text {
    flex: 1;
    /* Takes up remaining space */
}

.todo-checkbox {
    margin-left: 20px;
    /* margin-right: 1000px; */
}

.checkbox {
    border-radius: 50%;
}

.completed {
    text-decoration: line-through;
}

.btn-sm {
    padding: 5px 10px;
    padding-bottom: 10px;
}