<head>
  <title>Todo List App</title>
</head>

<body> 
  <div class="container">
    <div class="mb-2">
      <h1 class="title">{{ title }}</h1>
    </div>
    
    <div class="mb-2">
      <app-todo-form (addTodo)="addNewTodo($event)"></app-todo-form>
    </div>

    <div>
      <app-todo-list [items]="items" (completedItemRemoved)="removeCompletedItem()" (itemRemoved)="removeItem($event)"></app-todo-list>
    </div>

    <div class="button">
      <button class="btn btn-danger" (click)="removeAllItems()">Remove All Items</button>
    </div>
  </div>
</body>
<!-- <router-outlet></router-outlet> -->